body {
    --body-bg-colL: #232024;
    --panel-bg-col: #2d282f;
    --clickable-col: #423745;
    --selected-col: #dab2f9;
    --text-col: #fff;
    --subpanel-bg-col: #423745;

}

.data-inputs,
select.data-inputs>option {
    color: var(--text-col);
    background-color: var(--body-bg-colL);
    padding-inline: 8pt;
    padding-block: 4pt;
    scrollbar-width: none;
}

.data-inputs {
    border-radius: 8px;
}


select.data-inputs:open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

select.data-inputs,
::picker(select) {
    appearance: base-select;
}

.top-input {
    width: 0;
    min-width: 100px;
}

.top-label {
    padding-inline: 12px;
    padding-block: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.top-label-text {
    padding-right: 16pt;
}

.subpanel-bg {
    background-color: var(--subpanel-bg-col);
}