@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body[data-theme=dark] {
    --bg-col: #262626;
    --text-col-main: #fff;
    --fg-1: #111827;
    --fg-2: #334155;
    --input-panels: #404040;
    --header-bg: #3f3f46;
}


body {
    color: var(--text-col-main);
    background-color: var(--bg-col);
}

header {
    background-color: var(--header-bg);
}